@import "main.css";
@import "header.css";
@import "footer.css";
@import url('http://fonts.cdnfonts.com/css/roboto');
         

body {
    margin: 0;
    padding: 0;
    display: grid;
    font-family: 'Roboto', sans-serif;
    grid-template-columns: 1fr;
}

@media (max-width:450px) {
    .content {
        display: grid;
        grid-template-columns: 1fr;
    }
    header {
        display: flex;
        justify-items: center;
        flex-direction: column;
    }
    .content-post {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (min-width:451px) and (max-width:800px) {
    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    header {
        display: flex;
        justify-items: center;
        flex-direction: column;
    }
    .content-post {
        display: grid;
        grid-template-columns: 1fr;
    }
}